{% block mainbody %}
<!DOCTYPE html>
<html lang="en" class="">
<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  	<title> Flyme 账号 - 注册</title>
    <meta name="description" content="欢迎登录和注册 Flyme 账号，您可以体验手机云服务功能，包括：在线下载应用，同步手机数据和查找手机等，让您的手机管理更加智能。">
    <meta name="keywords" content="魅族 meizu 登录flyme 云服务 查找手机 充值账号 MX M9 MX2">
    <link href="./static/myweb/web/img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="./static/myweb/web/img/favicon.ico" rel="icon" type="image/x-icon">
    <!-- Bootstrap -->
  	<link href="./static/myweb/web/css/bootstrap.min.css" rel="stylesheet">
  	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  	<script src="./static/myweb/web/js/jquery-1.12.4.min.js"></script>
  	<!-- Include all compiled plugins (below), or include individual files as needed -->
  	<script src="./static/myweb/web/js/bootstrap.min.js"></script>
    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css" href="./static/myweb/web/css/global.css">
    <link rel="stylesheet" type="text/css" href="./static/myweb/web/css/register.css">
    <script type="text/javascript" src="./static/myweb/web/js/rem.js"></script>
    <script type="text/javascript" src="./static/myweb/web/js/topNav.js"></script>

</head>
<body>
  <!-- 导航 --> 
  <div class="layout-header hidden-xs hidden-sm" id="scroll-wrap">
    <nav class="navbar navbar-default header ">
      <div class="container clearfix">
          <div class="layout-header-logo navbar-left">
              <a target="_blank" href="./index.html" class="layout-header-logo-link" alt="魅族科技">
                <img src="./static/myweb/web/img/logo.png">
              </a>
          </div>      
      </div>
    </nav>
  </div><!-- 导航 E--> 

  <!-- 主内容区域 -->
  <div id="content" class="content">  
    <div class="container-fluid"> 
		<div class="banner-box hidden-xs hidden-sm">
			<div class="container"> 
				<form id="mainForm" class="main-form" action="{% url 'shopinsert' %}" method="post">
         {% csrf_token %}
        
					<div class="tab-title">
						<a class="linkABlue" id="toTelRegister" href="javascript:void(0)">注册 Flyme 账号</a>
					</div>
					<div class="tip-box visiblility-hidden">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<i class="glyphicon glyphicon-exclamation-sign"></i><span class="tip-font">请输入合法的手机号码</span>
							<span aria-hidden="true" class="cha">&times;</span>
						</button>
					</div>
					<div class="normalInput cycode-box fieldInput" id="cycode-box">
						<div class="cycode-selectbox" for="input01">
							<input class="ipt-account inp-focus" type="text" name="username" id="input01"  placeholder="用户名" >
						</div>
					</div>
					<div class="normalInput fieldInput passwd-box" for="input01">
						<input class="inp-focus" name="password" id="input01"  placeholder="密码"  type="password">
				   </div>

					<div id="flymeService" class="rememberField" style="font-size:12px;">
						<label class="pointer" for="acceptFlyme" tabindex="0">点击立即注册，即表示您同意并愿意遵守</label>
						<a href="/serviceAgreement" target="_blank" class="linkABlue">Flyme服务协议</a>
						<label class="pointer">和</label>
						<a href="#" target="_blank" class="linkABlue">法律声明</a>
					</div>
					 <button type="submit" class="btn btn-primary">立即注册</button> 
					<div class="transferField">
						<a class="go2register linkABlue" href="#" id="toLogin">登录</a>
					</div>
				</form>
			</div>
		</div>
    </div>
  </div>
  <!-- 主内容区域  E-->

  <!-- 底部区域 -->
  <div id="flymeFooter " class="footerWrap hidden-xs hidden-sm">
    <div class="container">
      <div class="footer-layer1">
        <div class="footer-innerLink">
          <a href="#" target="_blank" title="关于魅族">关于魅族</a>
          <img class="foot-line" src="./static/myweb/web/img/space.gif">
          <a href="#" target="_blank" title="工作机会">工作机会</a>
          <img class="foot-line" src="./static/myweb/web/img/space.gif">
          <a href="#" target="_blank" title="联系我们">联系我们</a>
          <img class="foot-line" src="./static/myweb/web/img/space.gif">
          <a href="#" target="_blank" title="法律声明">法律声明</a>
          <img class="foot-line" src="./static/myweb/web/img/space.gif">
          <div href="javascript:void(0);" id="globalName" class="footer-language" title="简体中文">
            简体中文&nbsp;&nbsp;&nbsp;
            <div id="globalContainer" class="footer-language_menu">
              <a href="#" id="i18n-link" title="English" class="ClobalItem">English</a>
            </div>
          </div>
        </div>
        <div class="footer-service">
          <span class="service-label">客服热线</span>
          <span class="service-num">400-788-3333</span>
          <a id="service-online" class="service-online" href="javascript:void(0);" title="在线客服">在线客服</a>
        </div>
        <div class="footer-outerLink">
          <a class="footer-sinaMblog" href="#" target="_blank"><i class="i_icon"></i></a>
          
          <a id="footer-weChat" class="footer-weChat" href="javascript:void(0);" target="_blank"><i class="i_icon"></i></a>
          <a class="footer-qzone" href="#" target="_blank"><i class="i_icon"></i></a>
        </div>
      </div>
      <div class="clear"></div>
      <div id="flymeCopyright" class="copyrightWrap">
        <div class="copyrightInner">
          <span>&copy;2017 Meizu Telecom Equipment Co., Ltd. All rights reserved.</span>
          <a href="#" class="linkAGray" target="_blank">备案号: 粤ICP备13003602号-4</a>
          <a href="#" class="linkAGray" target="_blank">经营许可证编号: 粤B2-20130198</a>
          <a target="_blank" href="#" class="linkAGray">营业执照</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部区域 E -->
<script type="text/javascript">
  nLogin();
</script>
</body>
</html>
{% endblock %}