{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="cn">
    <head>
        <meta charset="utf-8">
        <title>网站后台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'myadmin/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'myadmin/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
        <link href="{% static 'myadmin/css/site.css' %}" rel="stylesheet">
        <!--[if lt IE 9]><script src="{% static 'myadmin/js/html5.js' %}"></script><![endif]-->
    </head>
    <body>
        <div class="container">
            <!-- 页头开始 -->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#">网站后台管理</a>
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active">
                                    <a href="{% url 'myadmin_index' %}">首页</a>
                                </li>
                                <li>
                                    <a href="settings.htm">在线设置</a>
                                </li>
                                <li>
                                    <a href="help.htm">帮助</a>
                                </li>
                                <li class="dropdown">
                                    <a href="help.htm" class="dropdown-toggle" data-toggle="dropdown">更多 <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="help.htm">Introduction Tour</a>
                                        </li>
                                        <li>
                                            <a href="help.htm">Project Organisation</a>
                                        </li>
                                        <li>
                                            <a href="help.htm">Task Assignment</a>
                                        </li>
                                        <li>
                                            <a href="help.htm">Access Permissions</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li class="nav-header">
                                            Files
                                        </li>
                                        <li>
                                            <a href="help.htm">How to upload multiple files</a>
                                        </li>
                                        <li>
                                            <a href="help.htm">Using file version</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-search pull-left" action="">
                                <input type="text" class="search-query span2" placeholder="Search" />
                            </form>
                           <ul class="nav pull-right">
                                <li>
                                    <a href="profile.htm">@{{ request.session.adminuser }}</a>
                                </li>
                                <li>
                                    <a href="{% url 'myadmin_logout' %}">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- 页头结束-->
            <div class="row">
                <div class="span3">
                    <!-- 侧边导航开始 -->
                    <div class="well" style="padding: 8px 0;">
                        <ul class="nav nav-list">
                            <li class="nav-header">
                                导航栏
                            </li>
                            <li {% if request.path == '/myadmin/' %} class="active" {% endif %}>
                                <a href="{% url 'myadmin_index' %}"><i class="icon-home"></i> 首页</a>
                            </li>
                            <li class="nav-header">
                                会员管理
                            </li>
                            <li {% if request.path == '/myadmin/users' %} class="active" {% endif %}>
                                <a href="{% url 'myadmin_usersindex' %}"><i class="icon-folder-open"></i> 浏览会员</a>
                            </li>
                            <li {% if request.path == '/myadmin/usersadd' %} class="active" {% endif %}>
                                <a href="{% url 'myadmin_usersadd' %}"><i class="icon-check"></i> 添加会员</a>
                            </li>
                            <li class="nav-header">
                                商品类别管理
                            </li>
                            <li {% if request.path == '/myadmin/type' %} class="active" {% endif %}>
                                <a href="{% url 'myadmin_typeindex' %}"><i class="icon-envelope"></i> 浏览商品类别</a>
                            </li>
                            <li {% if request.path == '/myadmin/typeadd/0' %} class="active" {% endif %}>
                                <a href="{% url 'myadmin_typeadd' 0 %}"><i class="icon-file"></i> 添加商品类别</a>
                            </li>
                             <li class="nav-header">
                                商品信息管理
                            </li>
                            <li {% if request.path == '/myadmin/goods' %} class="active" {% endif %}>
                                <a href="{% url 'myadmin_goodsindex' %}"><i class="icon-list-alt"></i> 浏览商品信息</a>
                            </li>
                            <li {% if request.path == '/myadmin/goodsadd' %} class="active" {% endif %}>
                                <a href="{% url 'myadmin_goodsadd' %}"><i class="icon-list-alt"></i> 添加商品信息</a>
                            </li>
                            <li class="nav-header">
                                订单管理
                            </li>
                            <li {% if request.path == '/myadmin/orders' %} class="active" {% endif %}>
                                <a href="{% url 'myadmin_ordersindex' %}"><i class="icon-user"></i>订单列表</a>
                            </li>
                            <li {% if request.path == '/myadmin/detail' %} class="active" {% endif %}>
                                <a href="{% url 'myadmin_detailindex' %}"><i class="icon-cog"></i>订单详情</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="help.htm"><i class="icon-info-sign"></i> Help</a>
                            </li>
                            <li class="nav-header">
                                Bonus Templates
                            </li>
                            <li>
                                <a href="gallery.htm"><i class="icon-picture"></i> Gallery</a>
                            </li>
                            <li>
                                <a href="blank.htm"><i class="icon-stop"></i> Blank Slate</a>
                            </li>
                        </ul>
                    </div><!-- 侧边导航结束 -->
                </div>
                <div class="span9">
                    <!-- 主体开始 -->
                    {% block mainbody %}
                    {% endblock %}
                    <!-- 主体结束 -->
                </div>
            </div>
        </div>
        <script src="{% static 'myadmin/js/jquery.min.js' %}"></script>
        <script src="{% static 'myadmin/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'myadmin/js/site.js' %}"></script>
    </body>
</html>